.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.title-card {
  font-size: 18px;
  color:#003a8c;
  font-weight: 600;
}

.title {
  font-weight: 600;
  text-align: center;
  color: #1E90FF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-card {
  font-size: 14px;
  color: #434343;
  font-weight: 500;
  padding-top: 6px;
  padding-left: 10px;
}

.icon-card {
  padding-right: 10px;
}

.imgPeca {
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
}

.page-top {
  width: 700px;
  height: 60px;
  margin: 10 10 10 10px;
  color: white;
}
[data-theme="dark"] .site-layout-content {
  background: #141414;
}
[data-theme="dark"] .logo {
  background: rgba(255,255,255,0.3);
}